# {{ ansible_managed }}

[gammu]
model = 
device = {{ gammu_device }}
connection = at
synchronizetime = yes
# logfile = /var/log/gammu-{{ gammu_phoneid }}.log
logformat = textalldate

[smsd]
# LogFile = syslog
LogFile = /dev/stdout
Service = null
RunOnReceive = /usr/bin/logger -t {{ gammu_phoneid }} check env
PhoneID = {{ gammu_phoneid }}
